.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.inputfield {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 100px;
  height: 17px;
  border: 0.1em solid black;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
}

button:hover {
  background-color: green;
  color: white;
}
